:host {
  display: flex;
  flex-direction: column;

  .calendar {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(0, 1fr);
    gap: 0.5rem 0;

    .weekday {
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: gray;
    }

    .activity {
      grid-row: span 3;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: lightgreen;

      &.holiday {
        background-color: lightblue;
      }

      &.disabled {
        background-color: lightgray;
      }

      &.selected {
        background-color: lightcoral;
      }

      .date-container {
        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
      }

      .activity-container {
        background-color: red;
        width: 100%;
      }
    }
  }
}
