<div class="calendar">
    @for (day of dayNames(); track day) {
    <div class="weekday">{{ day }}</div>
    } @for (day of days(); track day[0]) {
    @let date = day[1].day;
    @let activities = day[1].activities;
    @let selected = this.selected()?.date === date.date;
    <div class="activities" [class.disabled]="!date.currentMonth" [class.holiday]="date.holiday"
        [class.selected]="selected" (click)="selectDate(date, activities)" (keydown)="selectDate(date, activities)"
        tabindex="0">
        <div class="date-container">
            {{ date.date | date : 'd' }}
        </div>
        <div class="activity-container">
            @for (activity of activities; track activity.id) {
            @if(date.currentMonth) {
            <div class="activity">
                @if(displayAgent()){
                <span class="agent">{{ activity?.agentName }}</span>
                }
                <span class="type">{{ activity?.type }}</span>
            </div>
            }
            }
        </div>
    </div>

    }
</div>